layout {
    tab name="empowr" cwd="/users/edwardphillips/code/ed1001/empowr/" focus=true {
        pane size=1 borderless=true {
            plugin location="zellij:compact-bar"
        }
        pane  {
          split_direction "vertical"
          pane {
            name "vim"
            focus true
          }
          pane {
            size "20%"
            stacked true
            split_direction "horizontal"
            pane {
              name "main" 
            }
            pane { 
              name "secondary" 
            }
          }
      }
      pane size=1 borderless=true {
          plugin location="zellij:status-bar"
      }
    }
    tab name="Auxillery" cwd="/Users/edwardphillips/code/ed1001" {
        pane size=1 borderless=true {
            plugin location="zellij:compact-bar"
        }
        pane  {
          split_direction "vertical"
          pane {
            name "vim"
            focus true
          }
          pane {
            size "20%"
            stacked true
            split_direction "horizontal"
            pane {
                name "aux1"
            }
            pane {
                name "aux2"
            }
            pane {
                name "aux3"
            }
          }
      }
      pane size=1 borderless=true {
          plugin location="zellij:status-bar"
      }
    }
}
