layout {
    tab name="Cockpit" cwd="/${HOME}/code/ed1001/agent-cockpit/" focus=true {
        pane size=1 borderless=true {
            plugin location="zellij:compact-bar"
        }
        pane  {
          split_direction "vertical"
          pane {
            name "vim"
            focus true
          }
          pane {
            size "20%"
            stacked true
            split_direction "horizontal"
            pane {
              cwd "/${HOME}/code/ed1001/agent-cockpit/"
              name "1" 
            }
            pane {
              cwd "/${HOME}/code/ed1001/agent-cockpit/"
              name "2" 
            }
            pane { 
              cwd "/${HOME}/code/ed1001/agent-cockpit/"
              name "3" 
            }
          }
      }
      pane size=1 borderless=true {
          plugin location="zellij:status-bar"
      }
    }
    tab name="Frontend" cwd="/${HOME}/code/ed1001/Frontend/" {
        pane size=1 borderless=true {
            plugin location="zellij:compact-bar"
        }
        pane  {
          split_direction "vertical"
          pane {
            name "vim"
            focus true
          }
          pane {
            size "20%"
            stacked true
            split_direction "horizontal"
            pane {
              cwd "/${HOME}/code/ed1001/Frontend/"
              name "1" 
            }
            pane {
              cwd "/${HOME}/code/ed1001/Frontend/"
              name "2" 
            }
            pane { 
              cwd "/${HOME}/code/ed1001/Frontend/"
              name "3" 
            }
          }
      }
      pane size=1 borderless=true {
          plugin location="zellij:status-bar"
      }
    }
    tab name="Services" cwd="/${HOME}/code/ed1001/functional-services/" {
        pane size=1 borderless=true {
            plugin location="zellij:compact-bar"
        }
        pane  {
          split_direction "vertical"
          pane {
            name "vim"
            focus true
          }
          pane {
            size "20%"
            stacked true
            split_direction "horizontal"
            pane {
              cwd "/${HOME}/code/ed1001/functional-services/"
              name "1" 
            }
            pane {
              cwd "/${HOME}/code/ed1001/functional-services/"
              name "2" 
            }
            pane { 
              cwd "/${HOME}/code/ed1001/functional-services/"
              name "3" 
            }
          }
      }
      pane size=1 borderless=true {
          plugin location="zellij:status-bar"
      }
    }
    tab name="Aux" cwd="/${HOME}/code/ed1001/" {
        pane size=1 borderless=true {
            plugin location="zellij:compact-bar"
        }
        pane  {
          split_direction "vertical"
          pane {
            name "vim"
            focus true
          }
          pane {
            size "20%"
            stacked true
            split_direction "horizontal"
            pane {
              cwd "/${HOME}/code/ed1001/"
              name "1" 
            }
            pane {
              cwd "/${HOME}/code/ed1001/"
              name "2" 
            }
            pane { 
              cwd "/${HOME}/code/ed1001/"
              name "3" 
            }
          }
      }
      pane size=1 borderless=true {
          plugin location="zellij:status-bar"
      }
    }
}
